# Chainlink ETH/USD price feed address
CHAINLINK_ETH_USD_ADDRESS=0x5f4ec3df9cbd43714fe2740f5e3616155c5b8419

# Infura project ID
INFURA_PROJECT_ID=af4e9f4ef127475ea1f7d97543e4cb85

# Tenderly credentials
TENDERLY_ACCOUNT=666sylar
TENDERLY_PROJECT=eth-simulator
TENDERLY_ACCESS_KEY=oeYc1ynMyyIw725HWlFjM3HbhjNOCgJI

# Default wallet and simulation addresses
DEFAULT_WALLET_ADDRESS=
SIMULATE_FROM_ADDRESS=
SIMULATE_TO_ADDRESS=
